@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.title {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title h1 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.title img {
    height: 100%;
}

.desc {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc p {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}

.faqs {
    height: 75px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 30px 0px 30px;
    background-color: #2d9ae1;
    border-radius: 37.5px;
    cursor: pointer;
}

.faqs h2 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.top{
    height: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bottom{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.demos {
    overflow: hidden;
    mask-image: linear-gradient(to right, 
        rgba(0, 0, 0, 0) 10%,
        rgba(0, 0, 0, 1) calc(50% - 250px),
        rgba(0, 0, 0, 1) calc(50% + 250px),
        rgba(0, 0, 0, 0) 90%    /* Totalmente transparente a la derecha */
    );
    -webkit-mask-image: linear-gradient(to right, 
        rgba(0, 0, 0, 0) 10%,
        rgba(0, 0, 0, 1) calc(50% - 250px),
        rgba(0, 0, 0, 1) calc(50% + 250px),
        rgba(0, 0, 0, 0) 90%
    );
    width: 100%;
    height: 60%;
}

.demos-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 100px;
    transition: 500ms;
    cursor: grab;
}

.demos-wrapper:active{
    cursor: grabbing;
}

.single-demo{
    height: 550px;
    aspect-ratio: 1 / 1;
    border: solid 5px white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.single-demo h2 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    position: absolute;
    align-items: center;
    text-align: center;
    top: 17%;
    font-size: 40px;
}

.single-demo p{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    width: 90%;
}

.single-demo button{
    bottom: 10%;
    position: absolute;
    padding: 30px;
    background-color: white;
    border-radius: 150px;
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    cursor: pointer;
    font-size: 40px;
}

.single-demo img{
    height: 30px; position: absolute; top:50px;
}

.demos-flecha{
    position: absolute;
    height: 100px;
    width: min-content;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.demos-flecha img{
    height: 50%;
}

.wrapper-1{
    transform: translateX(calc(50% - 280px));
}

.wrapper-2{
    transform: translateX(calc(50% - 940px));
}

html,
body,
.wrap {
    height: 100%;
}

body {
    background: #2d9ae1;
    background-image: radial-gradient(circle at center, black 0%, #2d9ae1 90%);
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.wrap {
    width: 100%;
    position: absolute;
}

.tri {
    height: 0;
    width: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: scale(0);
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    opacity: 0;
    clip-path: inset(0 0 0 0);
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}