
.tri:nth-child(1) {
    border-top: 100px solid rgb(52.82483352241307 52.82483352241307 52.82483352241307);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim1 23.908890885259005s infinite ease-in-out;
    animation-delay: -0.2s;
}

@keyframes anim1 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(8.8519541235068vw, -100vh) scale(0.9564104576786954);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(2) {
    border-top: 100px solid rgb(55.91463215056568 55.91463215056568 55.91463215056568);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim2 20.738665673724498s infinite ease-in-out;
    animation-delay: -0.4s;
}

@keyframes anim2 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(27.491493016239488vw, 100vh) scale(0.8196753336843103);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(3) {
    border-top: 100px solid rgb(98.6101296087374 98.6101296087374 98.6101296087374);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim3 23.221203567151846s infinite ease-in-out;
    animation-delay: -0.6000000000000001s;
}

@keyframes anim3 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(53.573118066678944vw, -100vh) scale(0.5796238298959082);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(4) {
    border-top: 100px solid rgb(95.7831677711664 95.7831677711664 95.7831677711664);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim4 22.8298542637835s infinite ease-in-out;
    animation-delay: -0.8s;
}

@keyframes anim4 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-150vw, 1.2066035295291044vh) scale(0.5969872332375827);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(5) {
    border-top: 100px solid rgb(198.47923586144 198.47923586144 198.47923586144);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim5 23.115330631199345s infinite ease-in-out;
    animation-delay: -1s;
}

@keyframes anim5 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(9.461269436575222vw, 100vh) scale(0.5059009216073357);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(6) {
    border-top: 100px solid rgb(190.81043513559638 190.81043513559638 190.81043513559638);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim6 24.156077469244398s infinite ease-in-out;
    animation-delay: -1.2s;
}

@keyframes anim6 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(100vw, -37.16945464925963vh) scale(0.19058041879445659);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(7) {
    border-top: 100px solid rgb(75.8771908627838 75.8771908627838 75.8771908627838);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim7 24.848839343722105s infinite ease-in-out;
    animation-delay: -1.4s;
}

@keyframes anim7 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-34.8872087140252vw, 100vh) scale(0.2970158017783682);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(8) {
    border-top: 100px solid rgb(96.82450359385265 96.82450359385265 96.82450359385265);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim8 21.94007966772128s infinite ease-in-out;
    animation-delay: -1.5999999999999999s;
}

@keyframes anim8 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(25.809097875785582vw, -100vh) scale(0.42376383707309295);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(9) {
    border-top: 100px solid rgb(116.68569615758652 116.68569615758652 116.68569615758652);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim9 22.725216415445495s infinite ease-in-out;
    animation-delay: -1.7999999999999998s;
}

@keyframes anim9 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(11.012566435920093vw, 100vh) scale(0.48768690710874363);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(10) {
    border-top: 100px solid rgb(60.556567090413544 60.556567090413544 60.556567090413544);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim10 22.739623426231688s infinite ease-in-out;
    animation-delay: -1.9999999999999998s;
}

@keyframes anim10 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-7.583746514381438vw, 100vh) scale(0.6467296595072892);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(11) {
    border-top: 100px solid rgb(176.2436301295709 176.2436301295709 176.2436301295709);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim11 22.753952896748974s infinite ease-in-out;
    animation-delay: -2.1999999999999997s;
}

@keyframes anim11 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(28.177049490466658vw, -100vh) scale(0.5364682039778117);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(12) {
    border-top: 100px solid rgb(155.52680942723634 155.52680942723634 155.52680942723634);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim12 22.928531315720544s infinite ease-in-out;
    animation-delay: -2.4s;
}

@keyframes anim12 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(30.423660974411746vw, 100vh) scale(0.20177950229065977);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(13) {
    border-top: 100px solid rgb(61.48204021777745 61.48204021777745 61.48204021777745);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim13 22.176633876405198s infinite ease-in-out;
    animation-delay: -2.6s;
}

@keyframes anim13 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-49.99950107350287vw, -100vh) scale(0.588993222685688);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(14) {
    border-top: 100px solid rgb(186.22867677038286 186.22867677038286 186.22867677038286);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim14 20.782836248515213s infinite ease-in-out;
    animation-delay: -2.8000000000000003s;
}

@keyframes anim14 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-38.95241795266932vw, -100vh) scale(0.4106603354193086);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(15) {
    border-top: 100px solid rgb(191.28777357124915 191.28777357124915 191.28777357124915);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim15 21.98602019615659s infinite ease-in-out;
    animation-delay: -3.0000000000000004s;
}

@keyframes anim15 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-27.0476043810365vw, 100vh) scale(0.8314552002933433);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(16) {
    border-top: 100px solid rgb(107.60544979526831 107.60544979526831 107.60544979526831);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim16 20.266984643718217s infinite ease-in-out;
    animation-delay: -3.2000000000000006s;
}

@keyframes anim16 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(3.38699055897537vw, 100vh) scale(0.4825296657473064);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(17) {
    border-top: 100px solid rgb(73.41788750448113 73.41788750448113 73.41788750448113);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim17 20.691727685173205s infinite ease-in-out;
    animation-delay: -3.400000000000001s;
}

@keyframes anim17 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-31.458863401405324vw, -100vh) scale(0.21114518495037074);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(18) {
    border-top: 100px solid rgb(191.01876478594536 191.01876478594536 191.01876478594536);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim18 24.33515758888116s infinite ease-in-out;
    animation-delay: -3.600000000000001s;
}

@keyframes anim18 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(11.852714133756336vw, 100vh) scale(0.8272962387643538);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(19) {
    border-top: 100px solid rgb(99.09046053470391 99.09046053470391 99.09046053470391);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim19 22.43159738220988s infinite ease-in-out;
    animation-delay: -3.800000000000001s;
}

@keyframes anim19 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(100vw, -65.84940557224624vh) scale(0.13061641872858254);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(20) {
    border-top: 100px solid rgb(102.6826574404742 102.6826574404742 102.6826574404742);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim20 24.901399663327393s infinite ease-in-out;
    animation-delay: -4.000000000000001s;
}

@keyframes anim20 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(50.53770329808172vw, -100vh) scale(0.28026040291675663);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(21) {
    border-top: 100px solid rgb(130.3589644017416 130.3589644017416 130.3589644017416);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim21 22.788439879178746s infinite ease-in-out;
    animation-delay: -4.200000000000001s;
}

@keyframes anim21 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-150vw, 28.513635852480846vh) scale(0.923261206381984);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(22) {
    border-top: 100px solid rgb(144.02237889479818 144.02237889479818 144.02237889479818);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim22 20.400564466284905s infinite ease-in-out;
    animation-delay: -4.400000000000001s;
}

@keyframes anim22 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-150vw, -17.777407930434293vh) scale(0.9006744072159617);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(23) {
    border-top: 100px solid rgb(96.61512061082354 96.61512061082354 96.61512061082354);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim23 24.759795837257208s infinite ease-in-out;
    animation-delay: -4.600000000000001s;
}

@keyframes anim23 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-150vw, 28.221323587527266vh) scale(0.13344492185869286);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(24) {
    border-top: 100px solid rgb(58.264588702625176 58.264588702625176 58.264588702625176);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim24 20.994364694351503s infinite ease-in-out;
    animation-delay: -4.800000000000002s;
}

@keyframes anim24 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(56.009769007329524vw, -100vh) scale(0.9604950789747502);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(25) {
    border-top: 100px solid rgb(125.07728873958574 125.07728873958574 125.07728873958574);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim25 21.681815882848113s infinite ease-in-out;
    animation-delay: -5.000000000000002s;
}

@keyframes anim25 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(38.02427949577566vw, 100vh) scale(0.34923757519589743);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(26) {
    border-top: 100px solid rgb(182.20436009156376 182.20436009156376 182.20436009156376);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim26 22.06918865043764s infinite ease-in-out;
    animation-delay: -5.200000000000002s;
}

@keyframes anim26 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(18.752553901521736vw, -100vh) scale(0.7396625044821842);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(27) {
    border-top: 100px solid rgb(99.82130422041466 99.82130422041466 99.82130422041466);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim27 23.931969812736s infinite ease-in-out;
    animation-delay: -5.400000000000002s;
}

@keyframes anim27 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-2.2525493412234994vw, -100vh) scale(0.2046462885988827);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(28) {
    border-top: 100px solid rgb(101.56864089442458 101.56864089442458 101.56864089442458);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim28 23.84877332990952s infinite ease-in-out;
    animation-delay: -5.600000000000002s;
}

@keyframes anim28 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(3.2272364240404414vw, -100vh) scale(0.46126594402131693);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(29) {
    border-top: 100px solid rgb(119.62553997796456 119.62553997796456 119.62553997796456);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim29 22.88103590644029s infinite ease-in-out;
    animation-delay: -5.8000000000000025s;
}

@keyframes anim29 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(100vw, 51.734947354257244vh) scale(0.4611061267609651);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(30) {
    border-top: 100px solid rgb(76.28275151643214 76.28275151643214 76.28275151643214);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim30 21.72100578359909s infinite ease-in-out;
    animation-delay: -6.000000000000003s;
}

@keyframes anim30 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(100vw, -14.774072555362999vh) scale(0.7162822946294335);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(31) {
    border-top: 100px solid rgb(107.35596273912029 107.35596273912029 107.35596273912029);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim31 21.793527053680673s infinite ease-in-out;
    animation-delay: -6.200000000000003s;
}

@keyframes anim31 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(100vw, -65.52833611797126vh) scale(0.35301877734596676);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(32) {
    border-top: 100px solid rgb(155.81055502139918 155.81055502139918 155.81055502139918);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim32 24.135640960304745s infinite ease-in-out;
    animation-delay: -6.400000000000003s;
}

@keyframes anim32 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(56.34708913455226vw, 100vh) scale(0.2123642798637301);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(33) {
    border-top: 100px solid rgb(60.42371262434642 60.42371262434642 60.42371262434642);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim33 21.498631524391218s infinite ease-in-out;
    animation-delay: -6.600000000000003s;
}

@keyframes anim33 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-150vw, -7.5674844470159215vh) scale(0.3392093647513675);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(34) {
    border-top: 100px solid rgb(107.7336911238838 107.7336911238838 107.7336911238838);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim34 24.528679096883984s infinite ease-in-out;
    animation-delay: -6.800000000000003s;
}

@keyframes anim34 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-150vw, 3.6990871345516325vh) scale(0.875538283896092);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(35) {
    border-top: 100px solid rgb(189.6023773333013 189.6023773333013 189.6023773333013);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim35 23.235536649217128s infinite ease-in-out;
    animation-delay: -7.0000000000000036s;
}

@keyframes anim35 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(100vw, -38.1753156669584vh) scale(0.2364466216858816);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(36) {
    border-top: 100px solid rgb(186.5161185755028 186.5161185755028 186.5161185755028);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim36 23.135496793139758s infinite ease-in-out;
    animation-delay: -7.200000000000004s;
}

@keyframes anim36 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-150vw, 14.434920156442473vh) scale(0.5807554923781357);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(37) {
    border-top: 100px solid rgb(105.01898760483601 105.01898760483601 105.01898760483601);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim37 20.805920085629843s infinite ease-in-out;
    animation-delay: -7.400000000000004s;
}

@keyframes anim37 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(100vw, -63.294858393514794vh) scale(0.7050323337846803);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(38) {
    border-top: 100px solid rgb(140.2275758878164 140.2275758878164 140.2275758878164);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim38 24.559602798053785s infinite ease-in-out;
    animation-delay: -7.600000000000004s;
}

@keyframes anim38 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-47.03573079308984vw, 100vh) scale(0.8682222982256765);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(39) {
    border-top: 100px solid rgb(97.88239128763068 97.88239128763068 97.88239128763068);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim39 21.208813748371526s infinite ease-in-out;
    animation-delay: -7.800000000000004s;
}

@keyframes anim39 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-150vw, 3.3118027341556626vh) scale(0.3969185118563834);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(40) {
    border-top: 100px solid rgb(135.1792590378642 135.1792590378642 135.1792590378642);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim40 22.4329317701378s infinite ease-in-out;
    animation-delay: -8.000000000000004s;
}

@keyframes anim40 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(61.618406078776616vw, 100vh) scale(0.6717494691733037);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(41) {
    border-top: 100px solid rgb(55.88088577941813 55.88088577941813 55.88088577941813);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim41 23.049979297199535s infinite ease-in-out;
    animation-delay: -8.200000000000003s;
}

@keyframes anim41 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(45.11463270413316vw, 100vh) scale(0.4767290809045551);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(42) {
    border-top: 100px solid rgb(185.4085951576984 185.4085951576984 185.4085951576984);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim42 20.826054409556924s infinite ease-in-out;
    animation-delay: -8.400000000000002s;
}

@keyframes anim42 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(100vw, 47.753224559627824vh) scale(0.7134054070154249);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(43) {
    border-top: 100px solid rgb(177.03059459570522 177.03059459570522 177.03059459570522);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim43 24.70103785455335s infinite ease-in-out;
    animation-delay: -8.600000000000001s;
}

@keyframes anim43 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(47.46387063749506vw, 100vh) scale(0.9093942548559755);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(44) {
    border-top: 100px solid rgb(192.58722528957517 192.58722528957517 192.58722528957517);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim44 22.378725191447582s infinite ease-in-out;
    animation-delay: -8.8s;
}

@keyframes anim44 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(7.094527929213314vw, 100vh) scale(0.4073294260010185);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(45) {
    border-top: 100px solid rgb(199.96735232206163 199.96735232206163 199.96735232206163);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim45 20.134646422993487s infinite ease-in-out;
    animation-delay: -9s;
}

@keyframes anim45 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(65.919238395133vw, -100vh) scale(0.803983777946113);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(46) {
    border-top: 100px solid rgb(130.34859836884 130.34859836884 130.34859836884);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim46 21.505041802212272s infinite ease-in-out;
    animation-delay: -9.2s;
}

@keyframes anim46 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-24.025836549645987vw, 100vh) scale(0.3071179725568556);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(47) {
    border-top: 100px solid rgb(148.84543105986273 148.84543105986273 148.84543105986273);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim47 23.148542347876724s infinite ease-in-out;
    animation-delay: -9.399999999999999s;
}

@keyframes anim47 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(43.11546342586796vw, 100vh) scale(0.9386135955211593);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(48) {
    border-top: 100px solid rgb(125.6274075604658 125.6274075604658 125.6274075604658);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim48 21.114182999564683s infinite ease-in-out;
    animation-delay: -9.599999999999998s;
}

@keyframes anim48 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-150vw, -15.455093852469787vh) scale(0.749671818516148);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(49) {
    border-top: 100px solid rgb(96.43594615336306 96.43594615336306 96.43594615336306);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim49 22.638810458671948s infinite ease-in-out;
    animation-delay: -9.799999999999997s;
}

@keyframes anim49 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-150vw, 14.073354527299017vh) scale(0.3835615303768368);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(50) {
    border-top: 100px solid rgb(170.4449159523955 170.4449159523955 170.4449159523955);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim50 24.977640501361165s infinite ease-in-out;
    animation-delay: -9.999999999999996s;
}

@keyframes anim50 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-150vw, -64.69598776827287vh) scale(0.13907741766158632);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(51) {
    border-top: 100px solid rgb(196.1277249812382 196.1277249812382 196.1277249812382);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim51 23.68911390419482s infinite ease-in-out;
    animation-delay: -10.199999999999996s;
}

@keyframes anim51 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(66.40670122812205vw, -100vh) scale(0.3863787956078253);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(52) {
    border-top: 100px solid rgb(193.69634346226098 193.69634346226098 193.69634346226098);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim52 20.177087082601282s infinite ease-in-out;
    animation-delay: -10.399999999999995s;
}

@keyframes anim52 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(100vw, 25.82129858875085vh) scale(0.5111465214381515);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(53) {
    border-top: 100px solid rgb(164.1906848127394 164.1906848127394 164.1906848127394);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim53 21.146752685025405s infinite ease-in-out;
    animation-delay: -10.599999999999994s;
}

@keyframes anim53 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(34.83082765185472vw, -100vh) scale(0.3070766121385933);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(54) {
    border-top: 100px solid rgb(129.89196952610405 129.89196952610405 129.89196952610405);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim54 20.080894080838s infinite ease-in-out;
    animation-delay: -10.799999999999994s;
}

@keyframes anim54 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(100vw, -53.60900291796794vh) scale(0.6869615542376727);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(55) {
    border-top: 100px solid rgb(81.35397170238717 81.35397170238717 81.35397170238717);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim55 23.69202014356521s infinite ease-in-out;
    animation-delay: -10.999999999999993s;
}

@keyframes anim55 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-59.487807118432016vw, 100vh) scale(0.43562655871724276);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(56) {
    border-top: 100px solid rgb(78.70155801524729 78.70155801524729 78.70155801524729);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim56 23.942708003322995s infinite ease-in-out;
    animation-delay: -11.199999999999992s;
}

@keyframes anim56 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-150vw, -60.080216083962114vh) scale(0.7567621910302839);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(57) {
    border-top: 100px solid rgb(189.44616382556347 189.44616382556347 189.44616382556347);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim57 22.849441910915175s infinite ease-in-out;
    animation-delay: -11.399999999999991s;
}

@keyframes anim57 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(100vw, 34.285430627312195vh) scale(0.16582549258453633);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(58) {
    border-top: 100px solid rgb(67.50274797658702 67.50274797658702 67.50274797658702);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim58 22.51788443313248s infinite ease-in-out;
    animation-delay: -11.59999999999999s;
}

@keyframes anim58 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(23.63754000204372vw, -100vh) scale(0.2770137604538049);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(59) {
    border-top: 100px solid rgb(84.71108194689087 84.71108194689087 84.71108194689087);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim59 22.191738304556672s infinite ease-in-out;
    animation-delay: -11.79999999999999s;
}

@keyframes anim59 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-150vw, -42.43707172137108vh) scale(0.9565388892296919);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(60) {
    border-top: 100px solid rgb(196.92728859964976 196.92728859964976 196.92728859964976);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim60 23.12830134231008s infinite ease-in-out;
    animation-delay: -11.99999999999999s;
}

@keyframes anim60 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(100vw, 10.067449898454058vh) scale(0.585077682165116);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(61) {
    border-top: 100px solid rgb(186.18449292718248 186.18449292718248 186.18449292718248);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim61 24.189806540356088s infinite ease-in-out;
    animation-delay: -12.199999999999989s;
}

@keyframes anim61 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(100vw, -61.17137090536903vh) scale(0.24102556781134477);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(62) {
    border-top: 100px solid rgb(154.75811012088582 154.75811012088582 154.75811012088582);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim62 22.036725526208368s infinite ease-in-out;
    animation-delay: -12.399999999999988s;
}

@keyframes anim62 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-150vw, -67.5777595086721vh) scale(0.11652476692310756);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(63) {
    border-top: 100px solid rgb(106.94448004495143 106.94448004495143 106.94448004495143);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim63 23.678790616955865s infinite ease-in-out;
    animation-delay: -12.599999999999987s;
}

@keyframes anim63 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(100vw, 56.6448912568617vh) scale(0.21627744045333136);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(64) {
    border-top: 100px solid rgb(98.99884098894296 98.99884098894296 98.99884098894296);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim64 21.518465566536875s infinite ease-in-out;
    animation-delay: -12.799999999999986s;
}

@keyframes anim64 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(27.84985045155163vw, 100vh) scale(0.9031856039141631);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(65) {
    border-top: 100px solid rgb(146.68306155804842 146.68306155804842 146.68306155804842);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim65 21.793827396798847s infinite ease-in-out;
    animation-delay: -12.999999999999986s;
}

@keyframes anim65 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(34.69021449041966vw, 100vh) scale(0.2013347755567792);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(66) {
    border-top: 100px solid rgb(130.58979302649644 130.58979302649644 130.58979302649644);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim66 24.304917948087716s infinite ease-in-out;
    animation-delay: -13.199999999999985s;
}

@keyframes anim66 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-67.68314353602597vw, -100vh) scale(0.1411372886285568);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(67) {
    border-top: 100px solid rgb(193.9021581870258 193.9021581870258 193.9021581870258);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim67 21.009940158782616s infinite ease-in-out;
    animation-delay: -13.399999999999984s;
}

@keyframes anim67 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-30.29417041776233vw, -100vh) scale(0.15765742509438713);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(68) {
    border-top: 100px solid rgb(73.20895830923806 73.20895830923806 73.20895830923806);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim68 21.83052221697043s infinite ease-in-out;
    animation-delay: -13.599999999999984s;
}

@keyframes anim68 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(69.4033831765845vw, -100vh) scale(0.13856079357645978);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(69) {
    border-top: 100px solid rgb(199.57409287013888 199.57409287013888 199.57409287013888);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim69 24.865496401528418s infinite ease-in-out;
    animation-delay: -13.799999999999983s;
}

@keyframes anim69 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(100vw, 40.58149711330255vh) scale(0.4216762590756782);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(70) {
    border-top: 100px solid rgb(200.74681399574058 200.74681399574058 200.74681399574058);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim70 20.651096929772976s infinite ease-in-out;
    animation-delay: -13.999999999999982s;
}

@keyframes anim70 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(1.208974502156508vw, -100vh) scale(0.7842100764810722);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(71) {
    border-top: 100px solid rgb(169.49929754261422 169.49929754261422 169.49929754261422);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim71 23.24776001238897s infinite ease-in-out;
    animation-delay: -14.199999999999982s;
}

@keyframes anim71 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(100vw, -47.556556099281224vh) scale(0.608386133374598);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(72) {
    border-top: 100px solid rgb(176.44649616136525 176.44649616136525 176.44649616136525);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim72 21.003185090805438s infinite ease-in-out;
    animation-delay: -14.39999999999998s;
}

@keyframes anim72 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-41.88443993067453vw, 100vh) scale(0.3657962207000497);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(73) {
    border-top: 100px solid rgb(153.92864858880884 153.92864858880884 153.92864858880884);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim73 20.511219448407896s infinite ease-in-out;
    animation-delay: -14.59999999999998s;
}

@keyframes anim73 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-42.3859904592204vw, 100vh) scale(0.7798428886698404);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(74) {
    border-top: 100px solid rgb(170.59765126534234 170.59765126534234 170.59765126534234);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim74 21.08020758546066s infinite ease-in-out;
    animation-delay: -14.79999999999998s;
}

@keyframes anim74 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(41.93728100030077vw, -100vh) scale(0.44760473668033784);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(75) {
    border-top: 100px solid rgb(111.2155770530208 111.2155770530208 111.2155770530208);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim75 22.572419256396095s infinite ease-in-out;
    animation-delay: -14.999999999999979s;
}

@keyframes anim75 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(46.646353027580275vw, 100vh) scale(0.15348570637707193);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(76) {
    border-top: 100px solid rgb(91.93432416404644 91.93432416404644 91.93432416404644);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim76 22.15688130102295s infinite ease-in-out;
    animation-delay: -15.199999999999978s;
}

@keyframes anim76 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(100vw, 17.786642910822366vh) scale(0.6274006745445015);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(77) {
    border-top: 100px solid rgb(62.21831656143257 62.21831656143257 62.21831656143257);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim77 21.943656740428377s infinite ease-in-out;
    animation-delay: -15.399999999999977s;
}

@keyframes anim77 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-34.343551451231136vw, 100vh) scale(0.9842608864841407);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(78) {
    border-top: 100px solid rgb(151.60066528538601 151.60066528538601 151.60066528538601);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim78 24.18081220568984s infinite ease-in-out;
    animation-delay: -15.599999999999977s;
}

@keyframes anim78 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-58.5338559781548vw, 100vh) scale(0.2813254882197483);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(79) {
    border-top: 100px solid rgb(147.89115325061732 147.89115325061732 147.89115325061732);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim79 22.36865564239232s infinite ease-in-out;
    animation-delay: -15.799999999999976s;
}

@keyframes anim79 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-2.391831507899994vw, -100vh) scale(0.750645289330717);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(80) {
    border-top: 100px solid rgb(199.43319476383726 199.43319476383726 199.43319476383726);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim80 22.705773897118924s infinite ease-in-out;
    animation-delay: -15.999999999999975s;
}

@keyframes anim80 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-31.506703497092012vw, 100vh) scale(0.5612575517870023);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(81) {
    border-top: 100px solid rgb(106.57936827354479 106.57936827354479 106.57936827354479);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim81 22.19905579115891s infinite ease-in-out;
    animation-delay: -16.199999999999974s;
}

@keyframes anim81 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(100vw, 56.94478209020784vh) scale(0.9937023459061263);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(82) {
    border-top: 100px solid rgb(136.1598402935983 136.1598402935983 136.1598402935983);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim82 23.144161004670206s infinite ease-in-out;
    animation-delay: -16.399999999999974s;
}

@keyframes anim82 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(100vw, 37.86751972238898vh) scale(0.7225157033709969);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(83) {
    border-top: 100px solid rgb(96.80918229784886 96.80918229784886 96.80918229784886);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim83 22.075059630101812s infinite ease-in-out;
    animation-delay: -16.599999999999973s;
}

@keyframes anim83 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(100vw, -53.92992316289342vh) scale(0.25301289710232805);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(84) {
    border-top: 100px solid rgb(172.54131968983694 172.54131968983694 172.54131968983694);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim84 24.623870777090275s infinite ease-in-out;
    animation-delay: -16.799999999999972s;
}

@keyframes anim84 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-19.711854941893947vw, 100vh) scale(0.4078789923065479);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(85) {
    border-top: 100px solid rgb(123.74268209990332 123.74268209990332 123.74268209990332);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim85 23.178248697784145s infinite ease-in-out;
    animation-delay: -16.99999999999997s;
}

@keyframes anim85 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-150vw, -40.44365622562556vh) scale(0.9200179241515425);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(86) {
    border-top: 100px solid rgb(122.32397459855714 122.32397459855714 122.32397459855714);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim86 22.294127051254783s infinite ease-in-out;
    animation-delay: -17.19999999999997s;
}

@keyframes anim86 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-10.076179997349243vw, 100vh) scale(0.6384931511335964);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(87) {
    border-top: 100px solid rgb(169.46803389296247 169.46803389296247 169.46803389296247);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim87 20.017522981108705s infinite ease-in-out;
    animation-delay: -17.39999999999997s;
}

@keyframes anim87 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(6.478337822984315vw, -100vh) scale(0.22713048431798225);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(88) {
    border-top: 100px solid rgb(80.57037159680206 80.57037159680206 80.57037159680206);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim88 21.073981221626255s infinite ease-in-out;
    animation-delay: -17.59999999999997s;
}

@keyframes anim88 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(11.422089836958165vw, -100vh) scale(0.8744406576576949);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(89) {
    border-top: 100px solid rgb(107.38135150067211 107.38135150067211 107.38135150067211);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim89 21.961210755719993s infinite ease-in-out;
    animation-delay: -17.79999999999997s;
}

@keyframes anim89 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(100vw, 57.04533254975395vh) scale(0.24597390166041022);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(90) {
    border-top: 100px solid rgb(155.00921022132357 155.00921022132357 155.00921022132357);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim90 23.404738835227096s infinite ease-in-out;
    animation-delay: -17.999999999999968s;
}

@keyframes anim90 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(100vw, 27.676133032604795vh) scale(0.9932761947443636);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(91) {
    border-top: 100px solid rgb(108.1986360883804 108.1986360883804 108.1986360883804);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim91 20.978859064850848s infinite ease-in-out;
    animation-delay: -18.199999999999967s;
}

@keyframes anim91 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-22.563733499793344vw, 100vh) scale(0.6473986214234291);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(92) {
    border-top: 100px solid rgb(66.51742140482953 66.51742140482953 66.51742140482953);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim92 21.826749937678773s infinite ease-in-out;
    animation-delay: -18.399999999999967s;
}

@keyframes anim92 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-150vw, -3.151597526973859vh) scale(0.956890189669116);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(93) {
    border-top: 100px solid rgb(120.19584707159393 120.19584707159393 120.19584707159393);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim93 24.37884786285047s infinite ease-in-out;
    animation-delay: -18.599999999999966s;
}

@keyframes anim93 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(29.13888412383386vw, 100vh) scale(0.950678304977562);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(94) {
    border-top: 100px solid rgb(82.06416279711112 82.06416279711112 82.06416279711112);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim94 24.18571272690312s infinite ease-in-out;
    animation-delay: -18.799999999999965s;
}

@keyframes anim94 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-51.19371104205605vw, 100vh) scale(0.3920475463398282);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(95) {
    border-top: 100px solid rgb(183.95399910352998 183.95399910352998 183.95399910352998);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim95 20.635387197616478s infinite ease-in-out;
    animation-delay: -18.999999999999964s;
}

@keyframes anim95 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-150vw, -27.398102366074284vh) scale(0.7680955802770455);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(96) {
    border-top: 100px solid rgb(83.38978084497306 83.38978084497306 83.38978084497306);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim96 22.94487006438747s infinite ease-in-out;
    animation-delay: -19.199999999999964s;
}

@keyframes anim96 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-150vw, 55.31345209825449vh) scale(0.487187000804291);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(97) {
    border-top: 100px solid rgb(130.00469989148456 130.00469989148456 130.00469989148456);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim97 20.966817280010545s infinite ease-in-out;
    animation-delay: -19.399999999999963s;
}

@keyframes anim97 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-34.972648697642235vw, 100vh) scale(0.3616693463188094);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(98) {
    border-top: 100px solid rgb(94.87956169132275 94.87956169132275 94.87956169132275);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim98 20.125494353327205s infinite ease-in-out;
    animation-delay: -19.599999999999962s;
}

@keyframes anim98 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(100vw, 63.76569569268122vh) scale(0.4538053797686966);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(99) {
    border-top: 100px solid rgb(90.04042982318117 90.04042982318117 90.04042982318117);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim99 23.844903592281575s infinite ease-in-out;
    animation-delay: -19.79999999999996s;
}

@keyframes anim99 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-150vw, 34.1517853087725vh) scale(0.7333926976826798);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}

.tri:nth-child(100) {
    border-top: 100px solid rgb(151.08236546247298 151.08236546247298 151.08236546247298);
    transform: rotate(138deg) translate(0, 0) scale(0);
    animation: anim100 23.573745134217162s infinite ease-in-out;
    animation-delay: -19.99999999999996s;
}

@keyframes anim100 {
    0% {
        opacity: 1;
        transform: rotate(200deg) translate(-150vw, 10.95333561367417vh) scale(0.34410572129163186);
    }
    50%{
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(-50%, -50%) scale(0);
    }
}
