@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    background: #2d9ae1;
    background: linear-gradient(90deg, #2d9ae1 0%, #135a80 25%, #427f9f 50%, #02609e 100%);
    background-size: 300% 100%;
    animation: gradient 15s ease infinite;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

*{
    margin: 0;
    padding: 0;
}

.faqs{
    overflow-y: scroll;
    width: 80%;
    background-color: #2d9ae1;
    border-radius: 50px;
    padding-left: 25px;
    padding-right: 25px;
    gap: 25px;
    height: calc(100% - 50px);
    position: relative;
}

.question{
    height: min-content;
    width: 100%;
    background-color: transparent;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    transition: height 0.5s ease;
    border-bottom: solid 2px white;
}

.question-top{
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.title {
    display: flex;
    justify-content:start;
    align-items: center;
    height: 40px;
    gap: 20px;
    left: 100px;
    position: absolute;
    cursor: pointer;
}

.title h1 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.title img {
    height: 100%;
}

.title-faqs{
    font-size: 100px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.question h2{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 35px;
    left: 40px;
    position: absolute;
}

.question img{
    height: 30px;
    position: absolute;
    right: 40px;
    transition: all 500ms ease;
}

.faqs::-webkit-scrollbar{
    width: 10px;
}

.faqs::-webkit-scrollbar-track{
    background-color: transparent;
}

.faqs::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: white;
}

.faqs::-webkit-scrollbar-thumb:hover{
    background-color: #cdcdcd;
}

.faqs::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 40px; 
}

.faqs::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 40px;
}

.question-bottom{
    overflow: hidden;
    transition: height 0.5s ease;
    height: 0px;
    padding-left: 40px;
    padding-right: 40px;
    
    transform: translateY(0px);
    interpolate-size: allow-keywords;
}

.question-bottom p{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.question input:checked + .question-top img {
    transform: rotate(-180deg);
}

.question input:checked ~ .question-bottom {
    height: auto;
    padding-bottom: 20px;
}

.question input{
    display: none;
}

#last{
    border-bottom: none;
}

.top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 180px;
}

.bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    height: calc(100% - 180px);
}

@media (max-width: 1200px){
    .top{
        flex-direction: column;
        height: 250px;
        gap: 20px;
    }
    .bottom{
        padding-bottom: 50px;
        height: auto;
    }
    .title{
        position: relative;
        left: 0px;
    }
    .faqs{
        overflow-y: visible;
        height: max-content;
    }
}

@media (max-width: 1000px){
    .top{
        height: 200px;
        gap: 10px;
    }
    .title{
        height: 35px;
    }
    .title h1{
        font-size: 27px;
    }
    .title-faqs{
        font-size: 90px;
    }
    .question h2{
        font-size: 30px;
    }
    .question-bottom p{
        font-size: 18px;
    }
    .question-top{
        height: 90px;
    }
    .faqs{
        border-radius: 45px;
    }
    .question img{
        height: 25px;
    }
    .question-bottom{
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media (max-width: 800px){
    .top{
        height: 180px;
        gap: 5px;
    }
    .title{
        height: 30px;
    }
    .title h1{
        font-size: 22px;
    }
    .title-faqs{
        font-size: 80px;
    }
    .question h2{
        font-size: 25px;
    }
    .question-bottom p{
        font-size: 15px;
    }
    .question-top{
        height: 80px;
    }
    .faqs{
        border-radius: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .question img{
        height: 20px;
    }
    .question-bottom{
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (max-width: 600px){
    .top{
        height: 150px;
        gap: 5px;
    }
    .title{
        height: 25px;
    }
    .title h1{
        font-size: 18px;
    }
    .title-faqs{
        font-size: 70px;
    }
    .question h2{
        font-size: 22px;
    }
    .question-bottom p{
        font-size: 13px;
    }
    .question-top{
        height: 70px;
    }
    .faqs{
        border-radius: 35px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .question img{
        height: 18px;
    }
    .question-bottom{
        padding-left: 20px;
        padding-right: 20px;
    }
    .question h2{
        left: 30px;
    }
    .question{
        border-bottom: solid 1px white;
    }
}

@media (max-width: 450px){
    .top{
        height: 130px;
        gap: 6px;
    }
    .title{
        height: 20px;
        gap: 15px;
    }
    .title h1{
        font-size: 15px;
    }
    .title-faqs{
        font-size: 50px;
    }
    .question h2{
        font-size: 18px;
    }
    .question-bottom p{
        font-size: 13px;
    }
    .question-top{
        height: 60px;
    }
    .faqs{
        border-radius: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .question img{
        height: 15px;
    }
    .question-bottom{
        padding-left: 15px;
        padding-right: 15px;
    }
    .question h2{
        left: 20px;
    }
}