.rest{
    padding: 1%;
    height: 100%;
    width: 100%;
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    gap: 1%;
}

.rest-head{
    background-color: var(--primary-color);
    height: 10%;
    width: 100%;
    border-radius: 100px;
    box-shadow: -8px -4px 8px 0px #ffffff,
    8px 4px 12px 0px #d1d9e6;
    position: relative;
    display: flex;
    align-items: center;
}

.rest-map{
    border-radius: 40px;
    background-color: #fff;
    height: 100%;
    width: 100%;
    box-shadow:
    4px 4px 4px 0px #d1d9e6 inset,-4px -4px 4px 0px #d1d9e6 inset;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.rest-head-right{
    height: 100%;
    width: max-content;
    padding: 0.7%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.rest-login{
    font-size: 15px;
    width: 100%;
    height: 100%;
    background-color: #e8e8e8;
    border-radius: 100px;
    box-shadow:
    8px 4px 12px 0px #247BB4; 
    cursor: pointer;
    transition: 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.rest-login:hover{
    box-shadow:
    8px 4px 12px 0px #163b54; 
}

.rest-login:active{
    box-shadow:
    4px 4px 4px 0px #d1d9e6 inset,
    -4px -4px 4px 0px #ffffff inset;
}

.rest-login > div{
    background-color: transparent;
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1 / 1;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.rest-login > div > div{
    height: 80%;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.rest-login > div > div > img{
    height: 70%;
    background-color: transparent;
    aspect-ratio: 1 / 1;
}

.rest-logo{
    height: 70%;
    margin-left: 1%;
    cursor: pointer;
}

.rest-div-logo{
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rest-div-pages{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    z-index: 10;
}

.rest-page{
    text-decoration: none;
    font-weight: 700;
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-size: 20px;
}

.rest-page:hover{
    color: #e8e8e8;
}

.rest-map-top{
    width: 100%;
    height: 13.5%;
    display: flex;
    align-items: center;
    padding-left: 2%;
    gap: 10px;
    overflow-x: scroll;
    position: relative;
}

.rest-map-top::-webkit-scrollbar {
    display: none;
}

.rest-map-bottom{
    width: 96%;
    height: 100%;
    background-color: white;
    margin: 0px 2% 2% 2%;
    border-radius: 25px;
    box-shadow: 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #d1d9e6 inset;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: grab;
}

.rest-map-bottom:active{
    cursor: grabbing;
}

.rest-mesa{
    fill: transparent;
    stroke: black;
    stroke-width: 1px;
}

.rest-mesa:hover{
    fill: #e8e8e8;
    cursor: pointer;
}

.rest-mesa-selected{
    fill: #e8e8e8;
    stroke-width: 3px;
}

.rest-zoom-button{
    position: absolute;
    left: 20px;
    width: 30px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #d1d9e6 inset;
    background-color: #e8e8e8;
    color: black;
    border: 1px solid #e8e8e8;
}

.rest-filter{
    border-radius: 50px;
    height: 50%;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #d1d9e6 inset;
    background-color: #e8e8e8;
    color: black;
    border: 1px solid #e8e8e8;
}


.rest-img{
    position: absolute;
    z-index: 1;
    max-height: calc(100% - 20px);
    max-width: calc(100% - 20px);
}

.nav-input{
    display: none;
}

.nav-label{
    display: none;
    background-color: transparent;
    height: 100%;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-img{
    background-color: transparent;
    height: 60%;
}

.rest-filter input, .rest-filter select{
    background: transparent;
    border: none;
    cursor: pointer;
    color: black;
    padding-left: 10px;
    height: 100%;
    width:max-content;
    appearance: none; /* Elimina la flecha en la mayoría de los navegadores */
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 550;
}

.rest-filter select option{
    background-color: #e8e8e8;
    border-radius: 20px;
    color: black;
}

.rest-encargar{
    border-radius: 50px;
    height: 50%;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--primary-color);
    color: white;
    font-weight: 650;
    border: 1px solid var(--primary-color);
    position: absolute;
    right: 2%;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5); 
}

.rest-encargar:hover, .rest-encargar-v:hover{
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.5); 
}

.rest-encargar:active, .rest-encargar-v:active{
    box-shadow: none; 
}

.rest-encargar-v{
    border-radius: 50px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: none;
    background-color: var(--primary-color);
    color: white;
    font-weight: 650;
    border: 1px solid var(--primary-color);
    position: absolute;
    right: 20px;
    top: 20px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5); 
}

.rest-popup-bk{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.rest-popup-bk.visible {
    display: flex; /* Cambiar a flex */
    opacity: 1; /* Totalmente visible */
}

.rest-popup-card{
    padding: 50px;
    background-color: #e8e8e8;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    min-width: 350px;
    padding-top: 80px;
    padding-bottom: 115px;
}

.rest-popup-card > h5{
    position: absolute;
    top: 20px;
    font-size: 20px;
}

.rest-popup-card > div{
    height: 50px;
    width: auto;
    border-radius: 25px;
    display: flex;
    align-items: center;
    box-shadow: -8px -4px 8px 0px #ffffff, 8px 4px 12px 0px #d1d9e6, 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
    border: 1px solid #e8e8e8;
    background: #e8e8e8;
    padding-left: 10px;
    padding-right: 20px;
    gap: 5px;
}

.rest-popup-card > div > svg{
    height: 50%;
    stroke: black;
}

.rest-popup-hecho{
    background-color: var(--primary-color);
    font-size: 25px;
    padding: 10px 20px 10px 20px;
    border: none;
    color: white;
    font-weight: 650;
    border-radius: 50px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.2s;
    position: absolute;
    bottom: 30px;
}

.rest-popup-hecho:hover{
    transform: translateY(-10px);
    box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.5);
}

.rest-popup-hecho:active{
    transform: translateY(0px);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

.rest-popup-close-button{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: transparent;
    right: 10px;
    top: 10px;
    border: none;
    cursor: pointer;
}

.rest-popup-close-button > svg{
    height: 100%;
    width: 100%;
}

.mesa-confirm{
    fill: black;
}

.rest-popup-close-path{
    fill: black;
}

.rest-noti{
    display: flex;
    border: solid 4px var(--primary-color);
    width: 200px;
    height: 80px;
    border-radius: 20px;
    position: fixed;
    background-color: #e8e8e8;
    z-index: 100;
    bottom: -100px;
    right: 50px;
    transition: 0.3s;
    text-align: center;
    align-items: center;
    font-weight: 600;
    cursor: default;
}

.rest-noti-active{
    transform: translateY(-150px);
}

.rest-noti:hover{
    background-color: #FFF;
}