.rest-map{
    background-color: #383838;
    box-shadow:
    4px 4px 4px 0px rgb(25, 25, 25) inset,-4px -4px 4px 0px rgb(25, 25, 25) inset;
}

.rest-head{
    box-shadow: -8px -4px 8px 0px rgb(50, 50, 50),
    8px 4px 12px 0px rgb(25, 25, 25);
}

.rest-login{
    background-color: #383838;
    color: #e8e8e8;
}

.rest-login:active{
    box-shadow:
    4px 4px 4px 0px rgb(25, 25, 25) inset,
    -4px -4px 4px 0px rgb(50, 50, 50) inset;
}

.rest-map-bottom{
    background-color: #383838;
    box-shadow: 4px 4px 4px 0px rgb(25, 25, 25) inset, -4px -4px 4px 0px rgb(25, 25, 25) inset;
}

.rest-mesa{
    stroke: #e8e8e8;
}

.rest-mesa:hover{
    fill: #212121;
}

.rest-filter{
    box-shadow: 4px 4px 4px 0px rgb(25, 25, 25) inset, -4px -4px 4px 0px rgb(25, 25, 25) inset;
    background-color: #212121;
    color: #e8e8e8;
    border: 1px solid #212121;
}

#svg path, #svg circle{
    stroke: #e8e8e8;
}

#svg path:hover, #svg circle:hover{
    fill: #212121;
}

.rest-zoom-button{
    box-shadow: 4px 4px 4px 0px rgb(25, 25, 25) inset, -4px -4px 4px 0px rgb(25, 25, 25) inset;
    background-color: #212121;
    color: #e8e8e8;
    border: 1px solid #212121;
}

.rest-zoom-button path{
    fill: #fff;
}

.rest-mesa-selected{
    fill: #212121;
}

.rest-filter input, .rest-filter select{
    color: white;
}

.rest-popup-card{
    background-color: #212121;
}

.rest-popup-card > h5{
    color: white;
}

.rest-popup-card > div{
    box-shadow: -8px -4px 8px 0px rgb(50, 50, 50), 8px 4px 12px 0px rgb(25, 25, 25), 4px 4px 4px 0px rgb(25, 25, 25) inset, -4px -4px 4px 0px rgb(50, 50, 50) inset;
    border: 1px solid #212121;
    background: #212121;
    color: white;
}

.rest-popup-card > div > svg path{
    stroke: white;
}

.mesa-confirm{
    fill: white;
    stroke: none !important;
}

.rest-popup-close-path{
    fill: white;
}

.rest-filter select option{
    background-color: #212121;
    border-radius: 20px;
    color: white;
}

.rest-noti{
    background-color: #212121;
    color: white;
}

.rest-noti:hover{
    background-color: #383838;
}

.rest-noti-e{
    background-color: #212121;
    color: white;
}

.rest-noti-e:hover{
    background-color: #383838;
}

.rest-info-profile{
    box-shadow: #212121 4px 4px 4px 0px inset, #212121 -4px -4px 4px 0px inset;
}

.rest-info-profile h5 {
    color: white;
}

.rest-info-profile-card {
    box-shadow: -8px -4px 8px 0px #383838, 8px 4px 12px 0px #212121, 4px 4px 4px 0px #212121 inset, -4px -4px 4px 0px #383838 inset;
    border: 1px solid #212121;
    background-color: #212121;
    color: white;
}

.rest-info-profile-card path{
    stroke: white;
}

.rest-profile-card{
    box-shadow: #21212188 4px 4px 4px 0px, #21212188 -4px -4px 4px 0px;
    background: #212121;
}

.rest-profile-info{
    box-shadow: -8px -4px 8px 0px #383838, 8px 4px 12px 0px #212121, 4px 4px 4px 0px #212121 inset, -4px -4px 4px 0px #383838 inset;
    border: 1px solid #212121;
    background-color: #212121;
    color: white;
}

.rest-profile-info path{
    stroke: white;
}

.rest-profile-card-right path{
    stroke: white;
}

.rest-emp-right, .rest-emp-right-card{
    border: solid 1px #212121;
    background-color: #383838;
    box-shadow: 4px 4px 4px 0px rgb(25, 25, 25) inset, -4px -4px 4px 0px rgb(25, 25, 25) inset;
}

.rest-emp-right-card{
    border: solid 1px #212121;
    background-color: transparent;
    box-shadow: 4px 4px 4px 0px rgb(25, 25, 25) inset, -4px -4px 4px 0px rgb(25, 25, 25) inset;
}

.rest-emp-left{
    background-color: #383838;
    box-shadow: 4px 4px 4px 0px rgb(25, 25, 25) inset, -4px -4px 4px 0px rgb(25, 25, 25) inset;
}

.rest-emp-right-card h5, .rest-emp-right-card p{
    color: white;
}

.rest-emp-right-card-selected{
    background-color: #212121;
}